.contact-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 90vw;
   border-radius: 0.5em;
 margin-top:4rem;
 margin-right: 1.2rem;
    background: lightblue;
    box-shadow: 0  4px  10px rgba(0, 0, 0, 0.3);
  
    

}

a{
    color:red;
    text-decoration: none;
    margin-left:2rem;
    margin-right: 2rem;
}
.input{
    
   padding: 4rem;
   background-color: #222;
   border-radius: 0.5em;
}
.form-input{
    width: 50vw;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width:30vw;
    margin: 0 auto;
    margin-top: 1.2rem;
    border-radius: 0.30rem;
    background-color: transparent;
    border-color: white;
    color: white;

}

.submit:hover{
    background-color: brown;
}
@media screen and (min-width: 360px) {
     .form-input{
        width:50vw;
    }
    .contact-heading{
        width: 70vw;
    }
    
  }